Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-check
      additional_dependencies: ["@biomejs/biome@1.9.4"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

chore(master): release nix4vscode 0.0.3
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml

fix: fix #223
  src/jinja/template/nix_expression.nix.j2
Due: none

test: add cpptools
  config.toml
  example/flake.nix
Due: toml

chore(master): release nix4vscode 0.0.4
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml

fix: filter out pre-release version
  Cargo.lock
  crates/code_api/Cargo.toml
  crates/code_api/src/code/enums.rs
  crates/code_api/src/code/gallery_extension/extension_version.rs
  src/code.rs
Due: rustfmt, toml

chore(master): release nix4vscode 0.0.5
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml

feat: bump rust version to 1.85.0
  Cargo.lock
  Cargo.toml
  flake.lock
  rust-toolchain.toml
  src/jinja.rs
Due: rustfmt, toml

refactor: remove rustlite
  Cargo.lock
  Cargo.toml
  src/db.rs
  src/main.rs
Due: rustfmt, toml

style: reorder deps
  Cargo.toml
Due: toml

chore(master): release nix4vscode 0.0.6
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml

feat: add exporter
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/exporter/Cargo.toml
  crates/exporter/migrations/.keep
  crates/exporter/migrations/00000000000000_diesel_initial_setup/down.sql
  crates/exporter/migrations/00000000000000_diesel_initial_setup/up.sql
  crates/exporter/migrations/2025-03-09-090821_marketplace/down.sql
  crates/exporter/migrations/2025-03-09-090821_marketplace/up.sql
  crates/exporter/src/main.rs
  crates/exporter/src/models.rs
  crates/exporter/src/schema.rs
Due: rustfmt, toml

ci: add exporter
  .github/workflows/exporter.yml
Due: none

chore(master): release nix4vscode 0.0.7
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
Due: toml

ci: fix ci
  .github/workflows/exporter.yml
Due: none

feat: allow set iquerystate
  crates/code_api/src/code/http_client.rs
  crates/code_api/src/code/query.rs
  crates/exporter/src/main.rs
  src/code.rs
Due: rustfmt

feat: ignore some file
  .gitignore
Due: none

feat(exporter): update primary key
  crates/exporter/migrations/2025-03-09-090821_marketplace/up.sql
  crates/exporter/src/schema.rs
Due: rustfmt

refactor(exporter): refactor code
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/main.rs
  crates/exporter/src/utils.rs
Due: rustfmt, toml

feat(exporter): allow fetch hash
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/main.rs
Due: rustfmt

ci: add fetch hash action
  .github/workflows/exporter_hash.yml
  crates/exporter/src/main.rs
Due: rustfmt

feat(exporter): print log
  .github/workflows/exporter_hash.yml
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/models.rs
Due: rustfmt

feat(exporter): batch update
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/main.rs
Due: rustfmt, toml

Use BTreeMap instead of HashMap
  src/main.rs
Due: rustfmt

Let rust decide type automatically
  src/main.rs
Due: rustfmt
