Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

rustfmt:
  name: rustfmt
  language: system
  entry: rustfmt

toml:
  name: toml
  language: system
  entry: taplo format

refactor: refactor code
  src/code/version.rs
  src/config.rs
  src/main.rs
Due: rustfmt

feat: add sqlite
  Cargo.lock
  Cargo.toml
  src/db.rs
  src/main.rs
Due: rustfmt, toml

fix(ctx): ensure no duplicate context
  Cargo.lock
  Cargo.toml
  config.toml
  src/code/extensions.rs
  src/main.rs
Due: rustfmt, toml

style: replace prettier with biome
  .pre-commit-config.yaml
  biome.jsonc
Due: none

refactor: remove lazy_static
  Cargo.lock
  Cargo.toml
  src/utils/cacher.rs
Due: rustfmt, toml

feat(config): support better config
  README.md
  config.toml
  src/code.rs
  src/config.rs
Due: rustfmt, toml

refactor: refactory code
  Cargo.lock
  Cargo.toml
  src/code.rs
  src/code/http_client.rs
Due: rustfmt, toml

feat(config): skip handled_extension
  src/config.rs
Due: rustfmt

refactor: split vscode api
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.lock
  crates/code_api/Cargo.toml
  crates/code_api/doc/vscode.adoc
  crates/code_api/src/code.rs
  crates/code_api/src/code/enums.rs
  crates/code_api/src/code/extensions.rs
  crates/code_api/src/code/flags.rs
  crates/code_api/src/code/gallery_extension.rs
  crates/code_api/src/code/gallery_extension/extension_version.rs
  crates/code_api/src/code/gallery_extension/version.rs
  crates/code_api/src/code/http_client.rs
  crates/code_api/src/code/query.rs
  crates/code_api/src/code/request_body.rs
  crates/code_api/src/code/version.rs
  crates/code_api/src/config.rs
  crates/code_api/src/lib.rs
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
  src/code.rs
  src/config.rs
  src/jinja.rs
  src/jinja/context.rs
  src/jinja/context/asset_url.rs
  src/jinja/filters.rs
  src/main.rs
Due: rustfmt, toml

Revert "build(deps): bump rusqlite from 0.32.1 to 0.33.0 (#199)"
  Cargo.lock
  Cargo.toml
Due: toml

fix(cpptools): patch cpptools
  src/jinja/template/nix_expression.nix.j2
Due: none

feat: simplifer code
  src/code.rs
  src/jinja/context.rs
  src/jinja/template/nix_expression.nix.j2
  src/main.rs
Due: rustfmt

ci: add release please
  .github/dependabot.yml
  .github/workflows/depbot_auto_meger.yaml
  .github/workflows/release.yml
  .github/workflows/release_please.yaml
  .release-please-manifest.json
  release-please-config.json
Due: none

ci(release): run release on macos-latest
  .github/workflows/release.yml
Due: none

feat(config): include warn by default
  config.toml
  src/config.rs
Due: rustfmt, toml

chore(master): release nix4vscode 0.0.2
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml

ci: update action
  .github/workflows/gate.yml
  .github/workflows/nightly.yml
Due: none

ci(release): release to tag
  .github/workflows/release.yml
Due: none

ci: try fix release
  .github/workflows/release.yml
Due: none

ci: update ci
  .github/workflows/release.yml
Due: none

fix(cpptools): fix cpptools
  src/jinja/template/nix_expression.nix.j2
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  toml: any of: \.toml$
