Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-check
      additional_dependencies: ["@biomejs/biome@1.9.4"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

feat: strong type
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

feat(exporter): add list postfix
  crates/exporter/nix/version.nix
  crates/exporter/nix/vscode.nix
Due: none

feat(hash): calc time
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

feat: complete extesionForEngine
  crates/exporter/nix/version.nix
  crates/exporter/nix/vscode.nix
Due: none

feat: move nix to top
  nix/example.nix
  nix/version.nix
  nix/version.test.nix
  nix/vscode-engine-overlay.nix
  nix/vscode.nix
Due: none

style: format all nix
  .pre-commit-config.yaml
  example/flake.nix
  example/vscode_plugins.nix
  flake.nix
  nix/package.nix
Due: none

feat: commit changes to repo
  .github/workflows/exporter_hash.yml
Due: none

feat: add overlay
  flake.nix
Due: none

feat: remove nightly
  flake.nix
Due: none

feat: remove deadcode
  crates/exporter/flake.lock
  crates/exporter/flake.nix
Due: none

feat: add lib
  flake.nix
Due: none

fix: fix flake
  flake.nix
Due: none

feat(exporter): output idx of extension
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

feat(exporter): batch update
  crates/exporter/src/fetch_info.rs
Due: rustfmt

refactor: simplified implementation
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/fetch_hash.rs
Due: rustfmt, toml

feat: better log
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

refactor: rename attribute
  flake.nix
Due: none

feat: remove deadcode
  nix/vscode-engine-overlay.nix
Due: none

feat: add overlays
  flake.nix
  nix/vscode.nix
Due: none

feat: refactor code
  flake.nix
  nix/vscode.nix
Due: none

fix: fix #244
  flake.nix
Due: none

feat: reset flake.nix to 068eb284edf7071a210cb0b8fbfa2b08994692de
  flake.nix
Due: none

fix: fix #245
  flake.lock
Due: none

feat: add overlay
  example/flake.lock
  example/flake.nix
  flake.nix
Due: none

feat(vscode.nix): add debug
  example/flake.lock
  nix/vscode.nix
Due: none

fix(nix): fix nix key
  nix/vscode.nix
Due: none

feat: add forVscode
  example/flake.nix
  flake.nix
Due: none

refactor: refactor some code
  crates/code_api/src/code/http_client.rs
  crates/code_api/src/code/query.rs
Due: rustfmt

feat(exporter): contain prerelease
  crates/exporter/migrations/2025-03-09-090821_marketplace/up.sql
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/models.rs
  crates/exporter/src/schema.rs
Due: rustfmt

feat: update is_prerelease
  crates/exporter/src/export.rs
  crates/exporter/src/fetch_info.rs
Due: rustfmt

feat(exporter): replace pg with sqlite3
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/migrations/00000000000000_diesel_initial_setup/down.sql
  crates/exporter/migrations/00000000000000_diesel_initial_setup/up.sql
  crates/exporter/migrations/2025-03-18-135712_marketplace/down.sql
  crates/exporter/migrations/2025-03-18-135712_marketplace/up.sql
  crates/exporter/src/export.rs
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/main.rs
  crates/exporter/src/models.rs
  crates/exporter/src/schema.rs
Due: rustfmt, toml

ci: using sqlite3
  .github/workflows/exporter.yml
  .github/workflows/exporter_hash.yml
Due: none

feat(exporter): ignore nix gc info
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

ci: fix push to db
  .github/workflows/exporter.yml
  .github/workflows/exporter_hash.yml
Due: none

feat: add nix32
  Cargo.lock
  Cargo.toml
  crates/nix32/Cargo.toml
  crates/nix32/README.md
  crates/nix32/src/lib.rs
Due: rustfmt, toml

ci: update db path
  .github/workflows/exporter.yml
Due: none

ci: update ci
  .github/workflows/exporter.yml
  .github/workflows/exporter_hash.yml
Due: none

feat(exporter): ignore conflict
  crates/exporter/src/fetch_info.rs
Due: rustfmt

ci: rebase before push
  .github/workflows/exporter.yml
Due: none
