Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-check
      additional_dependencies: ["@biomejs/biome@1.9.4"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

feat(exporter): do nix-gc after fetch url
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

ci: schedule exporter every day
  .github/workflows/exporter.yml
  .github/workflows/exporter_hash.yml
Due: none

chore(master): release nix4vscode 0.0.8
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
Due: toml

ci: cache binary
  .github/workflows/exporter.yml
  .github/workflows/exporter_hash.yml
Due: none

ci: fix exporter
  .github/workflows/exporter_hash.yml
Due: none

ci: change cron time
  .github/workflows/exporter.yml
  .github/workflows/exporter_hash.yml
Due: none

feat(exporter): allow export extension
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/export.rs
  crates/exporter/src/main.rs
  crates/exporter/src/models.rs
Due: rustfmt, toml

ci: fix exporter
  .github/workflows/exporter.yml
Due: none

ci(exporter): export as toml
  .github/workflows/exporter_hash.yml
Due: none

style: format
  .github/workflows/exporter_hash.yml
Due: none

feat: add overlay
  crates/exporter/example.nix
  crates/exporter/flake.nix
  crates/exporter/vscode-engine-overlay.nix
Due: none

feat(fetcher): ignore pre-release version
  crates/exporter/src/fetch_info.rs
Due: rustfmt

feat(nix): add isValidVersion
  crates/exporter/flake.nix
  crates/exporter/version-utils-test.nix
  crates/exporter/version-utils.nix
  crates/exporter/vscode-engine-overlay.nix
Due: none

fix: fix nix error
  crates/exporter/flake.lock
  crates/exporter/flake.nix
  crates/exporter/nix/example.nix
  crates/exporter/nix/version-utils-test.nix
  crates/exporter/nix/version-utils.nix
  crates/exporter/nix/vscode-engine-overlay.nix
Due: none

feat(code): remove unused char
  crates/code_api/src/code/version.rs
Due: rustfmt

fix: fix nix error
  crates/exporter/flake.nix
  crates/exporter/nix/example.nix
  crates/exporter/nix/version-utils.nix
Due: none

fix(nix): fix nix errors
  crates/exporter/nix/version-utils-test.nix
Due: none

feat: set default shell to zsh
  crates/exporter/flake.nix
Due: none

feat(code): add more test
  crates/code_api/src/code/version.rs
Due: rustfmt

fix(exporter): remove zsh
  crates/exporter/flake.nix
Due: none

feat(code): reimpl version
  crates/code_api/src/lib.rs
  crates/code_api/src/version.rs
  crates/code_api/src/version/test.rs
Due: rustfmt

refactor: remove old code
  crates/code_api/src/code.rs
  crates/code_api/src/code/version.rs
  src/code.rs
Due: rustfmt

feat(exporter): remove useless code
  crates/exporter/src/fetch_info.rs
Due: rustfmt

refactor: refactor some code
  .editorconfig
  crates/exporter/nix/version-utils.nix
Due: none

fix(nix): do gc after fetch url
  src/utils.rs
Due: rustfmt

chore(master): release nix4vscode 0.0.9
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
Due: toml

refactor: refactor code
  crates/exporter/nix/version-utils.nix
Due: none

Revert "refactor: remove old code"
  crates/code_api/src/code.rs
  crates/code_api/src/code/version.rs
  src/code.rs
Due: rustfmt

feat: fix errors
  crates/code_api/src/version/test.rs
  crates/exporter/nix/version-utils-test.nix
  crates/exporter/nix/version-utils.nix
  crates/exporter/nix/version-utils.test.nix
Due: rustfmt

fix(nix): fix errors
  crates/code_api/src/version.rs
  crates/exporter/nix/version-utils.nix
  crates/exporter/nix/version-utils.test.nix
Due: rustfmt

feat: add isValidVersionAny
  crates/exporter/nix/version-utils.nix
Due: none

chore(master): release nix4vscode 0.0.10
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
Due: toml

refactor: refactor code
  crates/exporter/nix/version.nix
  crates/exporter/nix/version.test.nix
  crates/exporter/nix/vscode-engine-overlay.nix
Due: none

feat(exporter): update update_hash
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

feat(exporter): add more function
  crates/exporter/nix/vscode.nix
Due: none

feat(exporter): better exporter
  crates/exporter/src/fetch_hash.rs
Due: rustfmt
