Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml

rustfmt:
  name: rustfmt
  language: system
  entry: rustfmt

toml:
  name: toml
  language: system
  entry: taplo format

feat(overlay): add decorators
  nix/decorators/ms-vscode.cpptools.nix
  nix/decorators/package-activation-events.json
  nix/vscode.nix
Due: none

feat(exporter): ensure is_prerelease is nullable
  crates/exporter/migrations/2025-03-18-135712_marketplace/up.sql
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/models.rs
  crates/exporter/src/schema.rs
Due: rustfmt

feat(exporter): skip is_prerelease
  crates/exporter/src/models.rs
Due: rustfmt

ci: auto shrink db
  .github/workflows/exporter.yml
Due: none

ci: fix example
  example/flake.nix
Due: none

feat: add some logger
  crates/code_api/src/code/http_client.rs
  crates/exporter/src/fetch_info.rs
Due: rustfmt

fix(exporter): fix unuless error
  crates/exporter/src/fetch_info.rs
Due: rustfmt

fix(exporter): don't filter out universal extension
  crates/exporter/src/fetch_info.rs
Due: rustfmt

feat(db): zip db.sqlite3
  .github/workflows/exporter.yml
Due: none

feat(exporter): limit run time
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

ci(exporter): upload after fetch infos
  .github/workflows/exporter.yml
Due: none

feat(exporter): batch update
  crates/exporter/src/fetch_info.rs
Due: rustfmt

ci: fix ci
  .github/workflows/exporter.yml
Due: none

feat: run exporter every six hours
  .github/workflows/exporter.yml
Due: none

ci: don't update extension.toml
  .github/workflows/exporter.yml
Due: none

ci: don't uppload db.sqlite3 twice
  .github/workflows/exporter.yml
Due: none

feat(exporter): don't run fetch_hash more than 5.5h
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/main.rs
Due: rustfmt

feat(exporter): skip if platform is universal
  crates/exporter/src/models.rs
Due: rustfmt

feat(nix): support universal platform
  nix/vscode.nix
Due: none

feat(exporter): support max-run-time
  crates/exporter/src/main.rs
Due: rustfmt

ci: using max-run-time
  .github/workflows/exporter.yml
Due: none

feat(exporter): early return
  crates/exporter/src/fetch_info.rs
Due: rustfmt

feat: add mini_toml
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/export.rs
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/main.rs
  crates/exporter/src/mini_toml.rs
  crates/exporter/src/utils.rs
Due: rustfmt, toml

feat(exporter): only export necessary code
  crates/exporter/src/export.rs
Due: rustfmt

feat(code_api): don't use rusttls
  Cargo.lock
  crates/code_api/Cargo.toml
Due: toml

ci(exporter): run once everyday
  .github/workflows/exporter.yml
Due: none

feat(exporter): add serde_nix
  crates/exporter/Cargo.toml
  crates/exporter/src/main.rs
  crates/exporter/src/serde_nix.rs
  example/flake.lock
  example/flake.nix
  nix/vscode.nix
Due: rustfmt, toml

fix(nix): fix hasAttr
  nix/vscode.nix
Due: none

feat(exporter): export as json
  Cargo.lock
  crates/exporter/src/export.rs
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/main.rs
  crates/exporter/src/mini_toml.rs
  crates/exporter/src/serde_nix.rs
  crates/exporter/src/utils.rs
Due: rustfmt

feat(nix): fix memory problem
  flake.nix
  nix/vscode.nix
Due: none

feat(nix): merge publisher.name
  crates/exporter/src/export.rs
  crates/exporter/src/models.rs
  flake.nix
  nix/vscode.nix
Due: rustfmt

feat: add helper
  biome.jsonc
  scripts/README.md
  scripts/deno.json
  scripts/deno.lock
  scripts/main.ts
  scripts/version.ts
Due: none

feat: export as json
  .gitattributes
  .github/workflows/exporter.yml
  .pre-commit-config.yaml
  biome.jsonc
  crates/exporter/src/export.rs
  crates/exporter/src/main.rs
  crates/exporter/src/mini_json.rs
  data/extensions.json
  data/extensions.toml
Due: rustfmt, toml

feat(nix): remove overlays
  example/flake.nix
  flake.nix
Due: none

feat(exporter): rename name to lowercase
  crates/exporter/src/export.rs
Due: rustfmt

chore(master): release nix4vscode 0.0.10
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
  crates/nix32/Cargo.toml
Due: toml

feat: reduce assert_url size
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/export.rs
  nix/vscode.nix
Due: rustfmt, toml

feat: rename assert_url to url
  crates/exporter/Cargo.toml
  crates/exporter/src/export.rs
  crates/exporter/src/models.rs
  nix/vscode.nix
Due: rustfmt, toml

feat: group data
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/export.rs
  crates/exporter/src/export/data.rs
  crates/exporter/src/mini_json.rs
  crates/exporter/src/models.rs
Due: rustfmt, toml

Path conditions:
  rustfmt: any of: \.rs$
  toml: any of: \.toml$
